<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cost✂︎Check</title>
  </head>
  <body>
    <div class="main">
      <div class="main-header">
        <div class="main-title">
          <h1>Cost✂︎Check</h1>
        </div>
        <div class="main-link">
          <% if user_signed_in? %>
            <div class="grid-6">
              <%= link_to  "◆固定費登録", new_cost_path, class: "link" %>
              <%= link_to  "◆固定費確認", costs_path, class: "link" %>
              <%= link_to  "◆スケジュール", new_tops_path, class: "link" %>
              <%= link_to  "◆メモを書く", new_post_path, class: "link" %>
              <%= link_to  "◆メモを見る",posts_path, class: "link" %>
              <%= link_to "◆ユーザー情報編集", edit_user_path(current_user), class: 'link' %>
              <%= link_to "◆ログアウト", destroy_user_session_path, class: "link",method: :delete %>
            </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "◆このサイトについて", tops_path, class: "link" %>
            <%= link_to "◆新規登録", new_user_registration_path, class: 'link' %>
            <%= link_to "◆ログイン", new_user_session_path, class: 'link' %>
            <%= link_to '◆ゲストログイン（閲覧用）', tops_guest_sign_in_path, method: :post, class: 'link' %>
          </div>
        <% end %>
        </div>
      </div>

      <div class="main-center">
      </div>
    </div>
  <body>
  