<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>テスト2</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div class="main">
      <div class="main-header">
        <div class="main-title">
          <h1><a href="/">CostCheck</a></h1>
        </div>
        <div class="main-link">
          <%= link_to "このサイトについて", tops_path, class: "link" %>
          
          <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <%= link_to current_user.name %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <%= link_to  "投稿する", "#", class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
          </div>
        <% end %>

        </div>
      </div>

      <div class="main-center">
        <video autoplay="autoplay" loop="loop" muted="muted" style="width=100%" src="mixkit-minimalist-room-with-gray-sofa-3110 (1).mp4"></video>
      </div>
    </div>
  <body>